<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830555547016-kteafeuso014th2kg4f9lko5nkdfleuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830555547016-kteafeuso014th2kg4f9lko5nkdfleuf</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9YAy8b7G4J9BTzuBnAB6IWtuf5a3mrs</string>
	<key>GCM_SENDER_ID</key>
	<string>830555547016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>cr-dev-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>cr-dev-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830555547016:ios:907900ae0212e47fe4463d</string>
</dict>
</plist>